
/* ==========================================================================
   BASE
   ========================================================================== */

   html {
    color: #222;
  
    font-family: "Ubuntu", sans-serif;
  
    font-size: 1em;
    line-height: 1.4;
  }
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
     * A better looking default horizontal rule
     */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
     * Remove the gap between audio, canvas, iframes,
     * images, videos and the bottom of their containers:
     * https://github.com/h5bp/html5-boilerplate/issues/440
     */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
     * Remove default fieldset styles.
     */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
     * Allow only vertical resizing of textareas.
     */
  
  textarea {
    resize: vertical;
  }
  
  img {
    width: 100%;
  }
  
  h1 {
    color: #000;
  }

  li {
    list-style-type: none;
  }

  
  
  p {
    text-align: center;
  }
  
  .row {
    display: grid;
    row-gap: 1rem;
  }
  
  .column {
    position: relative;
  }
  
  .section__header {
    font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-align: center;
  }
  .subsection__header {
    text-align: center;
    color: #c3c3c3;
    font-weight: normal;
  }

  .header__logo {
    max-width: 1.5rem;
    max-height: 1.5rem;
    padding-left: 1rem;
  }
  .metrolics_logo {
    display: flex;
    align-items: baseline;
    position: relative;
    justify-content: center;
    top: 3rem;
  }
  .slider {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    margin-top: -60px;
  }
  
  .slider img {
    height: 60vh;
    width: 80vw;
  }
  
  .slider__links {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
  }
  
  .slider__links_item {
    display: inline-block;
    width: fit-content;
    background: #ffffff;
    padding: 1.5rem;
    font-weight: bolder;
  }
  .slider__links_item + .slide__info__item {
    margin-top: 0.1rem;
  }
  .slider__links_item:first-child {
    border-left: 1rem solid #166ba2;
  }
  .slider__links_item:nth-child(2) {
    border-left: 1rem solid #de6262;
  }
  .slider__links_item:nth-child(3) {
    border-left: 1rem solid #ffb901;
  }
  
  /* thingsofabove__ */
  .thingsofabovemenu_outer {
    margin-top: 0;
  }
  
  .thingsofabovemenu_outer .a_title {
    margin: 0 0 1em 0;
  }
  
  .thingsofabovemenu_inner {
    display: none;
  }
  
  .thingsofabovemenu_item_title,
  .thingsofabovemenu_inner {
    border: 1px solid #eaeaea;
    transition: 0.4s;
  }
  
  .thingsofabovemenu_item_title {
    background-color: #fff;
    color: #626262;
    padding: 0.9em 1em;
  }
  
  .thingsofabovemenu_item_title:hover {
    cursor: pointer;
  }
  
  .thingsofabovemenu_button {
    float: right;
    padding: 0.9em 1.3em;
    margin: -0.9em;
    border-left: 1px solid #eaeaea;
    width: 3em;
    text-align: center;
  }
  
  .thingsofabovemenu_inner {
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #6e6e6e;
    background-color: #f8f8f8;
    margin-top: -10px;
  }
  
  .thingsofabovemenu_item {
    font-weight: 700;
    font-size: 0.9em;
    color: #545454;
    padding: 0 0 6em 0rem;
    margin: 1.5em 0 -6em 0;
    background-repeat: no-repeat;
  }
  
  .thingsofabovemenu_item + div {
    font-weight: 300;
    font-size: 0.772em;
    line-height: 1.6em;
    margin: 0.3em 0 0 0;
    padding: 0 0 2em 0rem;
    color: #939393;
  }
  .thingsofabovemenu_text {
    display: flex;
    flex-direction: column;
  }
  .thingsofabovemenu_inner img {
    width: 20%;
    height: 20%;
  }
  .thingsofabovemenu_inner_content {
    display: flex;
    gap: 5%;
    align-items: center;
  }
  
  /* Menu */
  .menu-tab {
    color: #545454;
  }
  
  .tab_outer ul:hover {
    cursor: pointer;
  }
  
  .tab_outer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .tab_outer li:first-child {
    background-color: #fff;
  }
  
  .tab_outer li {
    display: inline-block;
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    padding: 0.9em 2em;
    margin: 0 -4px -1px 0;
  }
  
  .tab_inner {
    border: 1px solid #eaeaea;
    padding-bottom: 2em;
    margin: 0;
    list-style: none;
  }
  
  .tab_inner li {
    font-size: 0.8em;
    margin: 2.5em 2.5em 1em 0;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 33px 33px;
    padding-left: 4.5em;
    color: #939393;
  }
  
  .tab_inner li:nth-child(1) {
    background-image: url("../img/beaker.png");
  }
  .tab_inner li:nth-child(2) {
    background-image: url("../img/leaf.png");
  }
  .tab_inner li:nth-child(3) {
    background-image: url("../img/laptop.png");
  }
  .tab_inner li:nth-child(4) {
    background-image: url("../img/people.png");
  }

    
  .header__nav_item:nth-child(1) {
    background-color: #25c389;
    background-image: url(../img/circle.svg), url(../img/house-user.svg);
  }
  .header__nav_item:nth-child(2) {
    background-color: #ffb901;
    background-image: url(../img/circle.svg), url(../img/network-wired.svg);
  }
  .header__nav_item:nth-child(3) {
    background-color: #de6262;
    background-image: url(../img/circle.svg), url(../img/bullhorn.svg);
  }
  .header__nav_item:nth-child(4) {
    background-color: #1691bd;
    background-image: url(../img/circle.svg), url(../img/briefcase.svg);
  }
  .header__nav_item:nth-child(5) {
    background-color: #166ba2;
    background-image: url(../img/circle.svg), url(../img/envelope.svg);
  }


  .footer__socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0.1rem;
    width: 12rem;
    height: 5rem;
  }

  /* ==========================================================================
       Layout
       ========================================================================== */


  
    /* Small only */
    @media screen and (max-width: 39.9375em) {
      .slider{
        display: none;
      }
      .s-hide {
        display: none;
      }
    
      .footer__tweets {
        text-align: center;
      }
      .logo {
        max-height: 3rem;
        position: static;
      }
      .header__nav {
        display: none;
      }
      .fa-bars {
        position: relative;
        left: 75%;
        top: 100%;
        background-color: #3a94ba;
        padding: 1rem;
        color: white;
      }
      .metrolics_logo {
        padding-left: 5%;
        justify-content: flex-start;
        top: 0rem;
      }
      
      .s-hide {
        display: none;
      }
  
      .footer__tweets {
        text-align: center;
      }
  
      .logo {
        max-height: 3rem;
      }
  
      .footer__about {
        display: none;
      }
  
      .footer__socials {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0.1rem;
        width: 25rem;
        height: 5rem;
      }
      .about_section {
        display: flex;
        align-items: center;
      }
      .section_image {
        width: 100px;
        height:100px;
      }
      .section_text {
        text-align: left;
        padding-left: 10px;
      }
      .section_subheading {
        text-align: left;
      }
    }
  
  
  /* Medium and up */
  @media screen and (min-width: 40em) {
    .row {
      width: 85vw;
      max-width: 70rem;
      margin: 0 auto;
      column-gap: 1.5rem;
      row-gap: 1.5rem;
      margin: 0 auto 3rem auto;
    }
  
    .m-col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .m-col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .m-col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .m-col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  
    .m-1-2 {
      grid-template-columns: 1fr 2fr;
    }
  
    .span-full {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  
    .header__nav {
      display: flex;
      flex-direction: row;
    }
  
    .header__nav_item {
      display: inline-block;
      position: relative;
      padding: 6rem 4rem 0rem 0rem;
      line-height: 2rem;
      font-size: 0.6rem;
      text-align: left;
      background-color: rgb(184, 184, 184);
      background-position-x: center;
      background-position-y: center;
      background-size: 2.3rem, 2rem;
      width: 100%;
      font-size: 1.3rem;
      color: white;
      text-decoration: none;
      background-repeat: no-repeat;
    }
    a.header__nav_item {
      padding-left: 15px;
      padding-bottom: 5px;
    }
  
    .header__nav_item::after {
      content: ">";
      display: inline-block;
      position: absolute;
      right: 1.1rem;
    }
    .span-full {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  
    .header__nav_item.active::after {
      content: "";
    }
    .mobile-nav {
      display: none;
    }
    .about_section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .section_image {
      width: 50%;
    }
    .sub-grid {
      display: grid;
      column-gap: 0.5rem;
      row-gap: 0.5rem;
    }
    .section_heading {
      text-align: center;
    }
    .section_subheading {
      text-align: center;
    }
  /* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .m-hide {
      display: none;
    }
  
    .special-project {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  
    .header__nav_item {
      padding: 5rem 3rem 1rem 0rem;
    }
    
    
  }
  /* Large and up */
  @media screen and (min-width: 64em) {
    .l-col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .l-col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .l-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .l-col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .l-col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  
    .l-hide {
      display: none;
    }
  
    .header__nav {
      display: flex;
      flex-direction: row;
    }
  }
  /* Large only */
  @media screen and (min-width: 64em) and (max-width: 74.9375em) {
    .l-hide {
      display: none;
    }
  }
  
  /* ==========================================================================
    Modules
   ========================================================================== */
  
  
  /* Large and up */
  @media screen and (min-width: 64em) {
  .l-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .l-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .l-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .l-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .l-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  
  .l-hide {
    display: none;
  }
  
  .header__nav {
    display: flex;
    flex-direction: row;
  }
  }
  /* Large only */
  @media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .l-hide {
    display: none;
  }
  }
  
  
  }
  
    /* ==========================================================================
       Footer
       ========================================================================== */
  

       .page_footer {
        background-color: #16242f;
        color: white;
        margin-bottom: -50px;
      }
      
      .page_footer .row {
        background-image: url(../img/bj_colorbar.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        padding-bottom: 3rem;
      }
      
      .page_footer_intro img {
        width: 25%;
        height: 50%;
        border-radius: 50%;
      }
      .page_footer_intro {
        display: flex;
        align-items: center;
      }
      .page_footer_intro_text {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
      }
      
      .inverted {
        color: white;
      }
      
      .about__line {
        border-bottom: 1px solid green;
        line-height: 2rem;
      }
      
      .flickr__line {
        border-bottom: 1px solid yellow;
        line-height: 2rem;
      }
      
      .recent__line {
        border-bottom: 1px solid red;
        line-height: 2rem;
      }
    
      .news__line {
        border-bottom: 1px solid blue;
        line-height: 2rem;
      }

      .inputBox {
        color: white;
        background-color: rgb(230, 113, 98);
      }
  
  
    
  
  /* ==========================================================================
      Inputs
     ========================================================================== */
  
  /* ==========================================================================
       Theme
       ========================================================================== */
